{% load static %}
{% load base_extras %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no" />
    <title>Polygon best search engine ever</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-toggleable-md navbar-dark bg-dark">
    <button class="navbar-toggler navbar-toggler-right" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Polygon</a>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link {% active_page request 'search' %}" href="{% url 'search' %}">Search</a>
            </li>
            {% if not user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link {% active_page request 'login' %}" href="{% url 'login' %}">Log in</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% active_page request 'register' %}" href="{% url 'register' %}">Register</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link {% active_page request 'history' %}" href="{% url 'history' %}">Historique de recherche</a>
                </li>
                {% if user.is_superuser %}
                    <li class="nav-item">
                       <a class="nav-link {% active_page request 'crawl_view' %}" href="{% url 'crawl_view' %}">Crawling</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link {% active_page request 'logout' %}" href="{% url 'logout' %}">Log out</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
<main class="container">
    {% block content %}{% endblock %}
</main>
<footer class="bg-dark">
    <div class="container">
        Polygon TM<br>
    </div>
</footer>



<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
{% block javascript %}
{% endblock %}
<script src="{% static 'init.js' %}"></script>
</body>
</html>